version: "3"
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - 27020:27017
    volumes:
      - mongodb_data:/data/db
    networks:
      - code-engine

  redis:
    image: bitnami/redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379
    networks:
      - code-engine
    container_name: redis

  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    networks:
      - code-engine
    ports:
      - 15672:15672

  server:
    image: "server:latest"
    build: "./server"
    ports:
      - 5000:5000
      - 9229:9229
    depends_on:
      - rabbitmq
      - mongodb
      - redis
    networks:
      - code-engine
    container_name: server

  cleanup:
    image: "cleanup:latest"
    build: "./cleanup"
    ports:
      - 9227:9229
    depends_on:
      - rabbitmq
    networks:
      - code-engine
    volumes:
      - shared_volume:/app/shared_volume
      - /var/run/docker.sock:/var/run/docker.sock
    container_name: cleanup

  java: &worker_template
    image: "worker:latest"
    build: "./worker"
    ports:
      - 9222:9229
    depends_on:
      - rabbitmq
      - mongodb
    environment:
      CODE_QUEUE: "JAVA"
    networks:
      - code-engine
    volumes:
      - shared_volume:/app/shared_volume
      - /var/run/docker.sock:/var/run/docker.sock
    links:
      - mongodb
    container_name: java

  cpp:
    <<: *worker_template
    ports:
      - 9223:9229
    environment:
      CODE_QUEUE: "CPP"
    container_name: cpp

  python:
    <<: *worker_template
    ports:
      - 9224:9229
    environment:
      CODE_QUEUE: "PYTHON"
    container_name: python

  javascript:
    <<: *worker_template
    ports:
      - 9225:9229
    environment:
      CODE_QUEUE: "JAVASCRIPT"
    container_name: javascript

  c:
    <<: *worker_template
    ports:
      - 9226:9229
    environment:
      CODE_QUEUE: "C"
    container_name: c_worker

networks:
  code-engine:
    driver: bridge

volumes:
  shared_volume:
  mongodb_data:
    driver: local
